html, body, #container{
    height: 100%;
    width: 100%;
}

.links line {
    stroke: #999;
    stroke-opacity: 0.6;
}

.nodes circle {
    stroke: #fff;
    stroke-width: 1.5px;
}

text {
    font-family: sans-serif;
    font-size: 10px;
}

svg {
    border: black 2px solid;
}

#objectViewContainer *{
    font-size: 9px;
}

#objectViewContainer > div{
    max-width: 100% !important;
}

